.DS_Store

/.idea/
__pycache__/

EEG-ImageNet.pth
EEG-ImageNet-features.pth
clip_features.pth
/data/de_feat/*
/data/imageNet_images/*/*
**/clip_features.dat
**/clip_features.txt
**/image_files.json
/data/test_images/
/output/
clip-vit-large-patch14
src/embedding/local_model
lambdalabs
infer.ipynb